@import model.game.BasicGame
@import java.util
@import model.game.AbstractGame
@(username: String, games: util.List[AbstractGame])

@main("lobbies") {
    <script src="@routes.Assets.versioned("javascripts/lobbies.js")"></script>
    <div class="flex-container flex-column main unselectable">
        <h2>chinesecheckers</h2>
        <h4>logged in as @username</h4>
        <div class="flex-container grow-1">
        @for(game <- games) {
            <div>
                <h5>@game.getName</h5>
                <p>Players: @game.getPlayers.size() / @game.getLimit</p>
                <input class="button" type="button" value="join">
            </div>
        }
        </div>
        <div class="grow-0">
            <input class="button" type="button" value="new game" onsubmit="newGame()">
        </div>
    </div>
}
