@import model.game.BasicGame
@import java.util
@import model.game.AbstractGame
@(username: String, games: util.List[AbstractGame])

@main("lobbies") {
    <script src="@routes.Assets.versioned("javascripts/lobbies.js")"></script>
    <div class="flex-container flex-column main unselectable">
        <h1>chinesecheckers</h1>
        <h3>logged in as @username</h3>
        <div class="flex-container flex-column start grow-1">
        @for(game <- games) {
            <div class="flex-container">
                <div class="flex-container flex-column">
                    <h4>@game.getName</h4>
                    <p>Players: @game.getPlayers.size() / @game.getLimit</p>
                </div>
                <input class="button" type="button" value="join" onclick="join(@game.getId()">
            </div>
        }
        </div>
        <div class="grow-0">
            <input class="button" type="button" value="new game" id="newGame">
        </div>
    </div>
}
