@main("new game") {
    <script src="@routes.Assets.versioned("javascripts/newGame.js")"></script>
    <div class="flex-container flex-column main unselectable">
        <h2>create a new game</h2>
        <form class="flex-container flex-column stretch" id="form">
            <label for="name">
                name:
            </label>
            <input type="text" id="name" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" minlength="3" maxlength="16" required>
            <br>
            <label for="limit">
                limit:
            </label>
            <input class="fullwidth" type="number" id="limit" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" min="2" max="6" value="2" required>
            <br>
            <input class="fullwidth vertical-margins button grow-1" id="button" type="submit" value="create">
        </form>
        <p id="error"></p>
    </div>
}
