@main("lobbies") {
    <script src="@routes.Assets.versioned("javascripts/newGame.js")"></script>
    <div class="flex-container flex-column main unselectable">
        <h2>create a new game</h2>
        <form class="flex-container flex-column stretch" id="form">
            <label for="name">
                name:
            </label>
            <input type="text" id="name" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" minlength="3" maxlength="16" required>
            <div class="flex-container stretch nopad vertical-margins">
                <label for="limit">
                    limit:
                </label>
                <input class="sides-margin" type="number" id="limit" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" min="2" max="6" value="2" required>
                <input class="button grow-1" type="submit" value="create">
            </div>
        </form>
    </div>
}
